@use "sass:color";

@import "../../styles/shared";

.contact {
  background-color: color.adjust($black, $lightness: 2%);
  color: $white;
  padding-bottom: rem(100px);
  padding-top: rem(100px);

  @include breakpoint(lg) {
    padding-bottom: rem(150px);
    padding-top: rem(150px);
  }
}

.contact__col-info,
.contact__col-image {
  align-items: center;
  display: flex;
}

.contact__heading {
  color: theme-color(primary);
  margin-bottom: rem(60px);
}

.contact__name {
  margin-bottom: 0;
}

.contact__email {
  margin-bottom: rem(64px);
}

.contact__social {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
}

.contact__social-link {
  display: inline-flex;
  opacity: 0.8;
  transition: $transition-base;

  &:not(:last-child) {
    margin-right: rem(16px);
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

.contact__social-icon {
  height: rem(32px);
  width: rem(32px);
}
