@import "../../styles/shared";

.contact {
  animation: gradient 10s ease-in-out infinite;
  background-color: $black;
  background-image: linear-gradient(-45deg, $black, $grey-900);
  background-size: 200% 200%;
  color: $white;
  padding-bottom: rem(100px);
  padding-top: rem(100px);

  @include breakpoint(lg) {
    padding-bottom: rem(150px);
    padding-top: rem(150px);
  }
}

.contact__col-info,
.contact__col-image {
  align-items: center;
  display: flex;
}

.contact__heading {
  margin-bottom: rem(60px);
}

.contact__name {
  margin-bottom: 0;
}

.contact__email {
  margin-bottom: rem(64px);
}

.contact__social {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
}

.contact__social-link {
  display: inline-flex;

  &:not(:last-child) {
    margin-right: rem(10px);
  }
}

.contact__social-icon {
  height: rem(32px);
}
