@import "../../styles/shared";

.contact {
  background-color: $black;
  color: $white;
  padding-bottom: rem(100px);
  padding-top: rem(100px);

  @include breakpoint(lg) {
    padding-bottom: rem(150px);
    padding-top: rem(150px);
  }
}

.contact__col-info,
.contact__col-image {
  align-items: center;
  display: flex;
}

.contact__col-info {
  @include breakpoint(md) {
    order: 2;
  }
}

.contact__col-image {
  @include breakpoint(md) {
    order: 1;
  }
}

.contact__heading {
  margin-bottom: rem(60px);
}

.contact__name {
  margin-bottom: 0;
}

.contact__email {
  margin-bottom: rem(32px);
}

.contact__social {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
}

.social__links {
  margin-bottom: rem(60px);

  @include breakpoint(md) {
    margin-bottom: 0;
  }
}

.contact__social-link {
  display: inline-flex;

  &:not(:last-child) {
    margin-right: rem(10px);
  }
}

.contact__social-icon {
  height: rem(32px);
}
