@import "../../styles/shared";

.device {
  display: flex;
  position: relative;
  width: 100%;
}

.device__frame {
  position: relative;
  width: 100%;
  z-index: 2;
}

.device__asset {
  overflow: hidden;
  position: absolute;
  z-index: 1;

  .device--type-mobile & {
    border-radius: 5%;
    inset: 2% 4.5%;
  }

  .device--type-desktop & {
    inset: 2.3% 10% 12%;
  }
}

.device__video {
  object-fit: cover;
  width: 91%;

  .device--type-desktop & {
    width: 80%;
  }
}
