@use "sass:color";
@import "../../../styles/shared";

.work-detail {
  display: block;

  .work-detail__device {
    max-width: rem(300px);
  }

  .work-detail__intro-section {
    color: $white;
    padding-bottom: rem(60px);
    padding-top: rem(120px);
    position: relative;

    &::after {
      background-color: color.adjust(theme-color(secondary), $alpha: -0.5);
      content: "";
      inset: 0;
      position: absolute;
      z-index: 2;
    }

    @include breakpoint(md) {
      padding-top: rem(160px);
    }

    @include breakpoint(lg) {
      padding-top: rem(180px);
    }
  }

  .work-detail__hero-image {
    inset: 0;
    overflow: hidden;
    position: absolute;
  }

  .work-detail__hero-image-img {
    filter: blur(5px);
    object-fit: cover;
  }

  .work-detail__hero-content {
    position: relative;
    z-index: 3;
  }

  .work-detail__blurb {
    align-items: center;
    display: flex;
    height: 100%;
  }

  .work-detail__devices {
    margin-bottom: rem(60px);

    @include breakpoint(md) {
      margin-bottom: rem(120px);
    }

    @include breakpoint(lg) {
      margin-bottom: rem(200px);
    }
  }

  .work-detail__awards-list {
    list-style: circle inside;
    list-style-type: "🏆 ";
    margin-bottom: rem(16px);
  }

  .work-detail__client-logo {
    height: 50px;
    width: auto;
  }

  .work-detail__details {
    margin-bottom: rem(60px);
  }

  .work-detail__detail,
  .work-detail__team-list {
    margin-bottom: rem(32px);
  }

  .work-detail__information-title {
    color: theme-color(primary);
  }

  .work-detail__information .work-detail__information-title {
    margin-bottom: rem(10px);
  }

  .work-detail__tag-list {
    list-style: none;
    margin-bottom: rem(16px);
  }

  .work-detail__tag-list-item {
    display: inline-flex;

    &:not(:last-child) {
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }

  .work-detail__information {
    padding-bottom: rem(100px);
    padding-top: rem(100px);
  }

  .work-detail__screenshot {
    box-shadow: 0 10px 16px 0 rgba($black, 0.2), 0 6px 20px 0 rgba($black, 0.19);
    margin-bottom: rem(16px);
  }

  .work-detail__screenshot-mobile {
    display: flex;
    margin: 0 auto rem(16px);
    max-width: 375px;
  }

  .work-detail__video {
    width: 100%;
  }

  .work-detail__awards-button {
    padding-top: 0;
    text-transform: capitalize;
  }

  .work-detail__team-list {
    list-style: none;
  }

  .work-detail__team-member {
    margin-bottom: rem(8px);
  }

  .work-detail__description {
    margin-bottom: rem(40px);
  }

  .work-detail__view-website-button {
    margin-bottom: rem(16px);
  }
}
