@import "../../styles/shared";

.button {
  appearance: none;
  cursor: pointer;
}

@include button-variant(primary);
@include button-variant(secondary);
@include button-variant(light);

@include button-variant(primary, $appearance: "outline");
@include button-variant(secondary, $appearance: "outline");
@include button-variant(light, $appearance: "outline");

@include button-variant(primary, $appearance: "link");
@include button-variant(secondary, $appearance: "link");
@include button-variant(light, $appearance: "link");

@include button-variant($appearance: "none");

@include button-size(small, $font-size-button-small, rem(8px), rem(6px));
@include button-size(medium, $font-size-button-medium, rem(16px), rem(10px));
@include button-size(large, $font-size-button-large, rem(24px), rem(11px));

.button--full-width {
  width: 100%;
}
