@use "sass:map";
@import "../../styles/shared";

.grid {
  margin: 0 auto;
  max-width: $grid-container-max-width;
  padding: 0 $grid-container-padding-sm;
  width: 100%;

  @include breakpoint(md) {
    padding: 0 $grid-container-padding-md;
  }

  @include breakpoint(lg) {
    padding: 0 $grid-container-padding-lg;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-gutter-width--half;
  padding-right: $grid-gutter-width--half;
}
