@use "sass:map";
@import "../../styles/variables";
@import "../../styles/mixins";

.row {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  margin-left: -$grid-gutter-width--half;
  margin-right: -$grid-gutter-width--half;
}
