@import "../../styles/shared";

.clients {
  background-color: theme-color(light);
  color: theme-color(secondary);
  padding-bottom: rem(100px);
  padding-top: rem(100px);

  @include breakpoint(md) {
    padding-bottom: rem(150px);
    padding-top: rem(150px);
  }

  @include breakpoint(lg) {
    padding-bottom: rem(190px);
    padding-top: rem(190px);
  }
}

.clients__heading {
  margin-bottom: rem(40px);

  @include breakpoint(lg) {
    margin-bottom: rem(80px);
  }
}
