@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.54;
  }
}

@keyframes slide-in-next {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-next {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-previous {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-previous {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}
