@use "sass:color";

@import "../../styles/shared";

.card {
  border-bottom: 5px solid theme-color(primary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.card__image {
  aspect-ratio: 1.6;
  transition: $transition-base;

  &::after {
    background-color: color.adjust(
      $color: theme-color(secondary),
      $alpha: -0.4
    );
    content: "";
    inset: 0;
    position: absolute;
    z-index: 1;
  }

  .card:hover & {
    filter: blur(10px);
    transform: scale(1.1);
  }
}

.card__image-img {
  object-fit: cover;
}

.card__logo-wrapper {
  inset: 0;
  opacity: 1;
  padding: 20%;
  position: absolute;
  transition: $transition-base;
  z-index: 3;

  .card:hover & {
    opacity: 0;
  }
}

.card__client-logo {
  height: 100%;
}

.card__client-logo-img {
  // filter: invert(30%) sepia(62%) saturate(3107%) hue-rotate(115deg)
  //   brightness(100%) contrast(86%);
}

.card__body {
  align-items: center;
  color: theme-color(primary);
  display: flex;
  flex-direction: column;
  inset: 0;
  justify-content: center;
  opacity: 0;
  padding: 15%;
  position: absolute;
  text-align: center;
  transition: $transition-fade;
  z-index: 1;

  .card:hover & {
    opacity: 2;
  }
}
