@import "../../styles/shared";

.animated-element {
  display: flex;
  opacity: 0;
  transition-duration: 0.8s;
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    opacity: 1;
  }
}

.animated-element--up {
  transform: translate3d(0, rem(20px), 0);

  @media (prefers-reduced-motion: reduce) {
    transform: none;
  }
}

.animated-element--right {
  transform: translate3d(rem(100px), 0, 0);

  @media (prefers-reduced-motion: reduce) {
    transform: none;
  }
}

.animated-element--left {
  transform: translate3d(rem(-100px), 0, 0);

  @media (prefers-reduced-motion: reduce) {
    transform: none;
  }
}

.animated-element--active {
  opacity: 1;
  transform: none;
}
