@use "sass:color";
@import "../../styles/shared";

.modal-background {
  align-items: center;
  animation: fade-in ease 0.5s forwards;
  background-color: color.adjust($black, $alpha: -0.2);
  display: flex;
  inset: 0;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $spacer-20 0;
  position: fixed;
  z-index: $z-index-modal;

  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    background-color: color.adjust($black, $alpha: -0.5);
  }
}
