@use "sass:color";
@import "../../styles/shared";

.header {
  background-color: theme-color(secondary);
  color: theme-color(primary);
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  transition: $transition-base;
  z-index: $z-index-header;

  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    background-color: color.adjust(theme-color(secondary), $alpha: -0.3);
  }

  &--is-scrolled {
    transform: translateY(0);
  }
}

.header__inner {
  padding: rem(24px) 0;
  position: relative;
}

.header__nav {
  background-color: theme-color(secondary);
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: $transition-base;
  z-index: 1;

  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    background-color: color.adjust(theme-color(secondary), $alpha: -0.3);
  }

  .header--menu-open & {
    transform: scaleY(1);
  }

  @include breakpoint(md) {
    backdrop-filter: none;
    background-color: transparent;
    position: static;
    transform: scaleY(1);
  }
}

.header .header__title {
  margin-bottom: 0;
}

.header__menu-button {
  padding: rem(5px);

  @include breakpoint(md) {
    display: none;
  }
}

.header__nav-list {
  color: $white;
  list-style: none;
  padding: rem(10px) ($grid-container-padding-sm + $grid-gutter-width--half)
    rem(20px);
  text-align: right;

  @include breakpoint(md) {
    padding: 0;
  }
}

.header__nav-list-item {
  display: flex;
  justify-content: flex-end;
  padding: 0 rem(10px);
  text-align: right;
  width: 100%;

  @include breakpoint(md) {
    display: inline-flex;
    width: auto;
  }
}

.header__col-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.header__col-left {
  align-items: center;
  display: flex;
}
