// https://github.com/twbs/bootstrap/blob/main/scss/mixins/_visually-hidden.scss

@mixin visually-hidden() {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  white-space: nowrap !important;
  width: 1px !important;

  &:not(caption) {
    position: absolute !important;
  }
}

@mixin visually-hidden-focusable() {
  &:not(:focus, :focus-within) {
    @include visually-hidden();
  }
}
